.detalle-container {
    max-width: 700px;
    margin: 2rem auto;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 2rem;
    border: 3px solid #ffc107;
    border-radius: 10px;
}

.detalle-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}