.detalle-container {
    max-width: 700px;
    margin: 2rem auto;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 2rem;
    border: 3px solid #ffc107;
    border-radius: 10px;
}

.detalle-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}

.formulario-reserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 1rem;*/
    margin-top: 2rem;
    color: white;
    font-weight: bold;
}

.formulario-reserva input[type="date"] {
    width: 200px;
    padding: 6px;
    margin: 5px 0 15px 0;
    font-size: 0.9rem;
    border-radius: 6px;
}

.formulario-reserva label {
    display: flex;
    flex-direction: column;
}

.formulario-reserva button:hover {
    background-color: #ffc107;
    color: #000;
    border: 2px solid #ffc107;;
}

ul {
    list-style: none;
    padding-left: 0;
}