.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
    padding: 1rem 2rem;
    border-bottom: 3px solid #ffcb05;
}

.logo-header {
    height: 80px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.2s ease-in-out;
}

.nav a:hover {
    color: #ffcb05;
}

.boton-cerrar {
    background-color: transparent;
    color: #ffcb05;
    border: 2px solid #ffcb05;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.boton-cerrar:hover {
    background-color: #ffcb05;
    color: #000;
    cursor: pointer;
    border: 2px solid #ffcb05;
}

.boton-cerrar:focus {
    outline: none;
}